/* popup.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 400px; /* Ajusta el ancho aquí */
    height: 300px; /* Ajusta la altura aquí */
}

button {
    margin-top: 5px;
}
