body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 500px; /* Ajusta el ancho aquí */
    height: 400px; /* Ajusta la altura aquí */
    position: relative;

    /* Imagen de fondo */
    background-image: url('../images/icons/fondo.jpg'); /* Ruta de la imagen */
    background-size: 50%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
}

#agregarurl-button {
    position: absolute;
    right: 20px;
    top: 80px; /* Ajusta la posición vertical del botón '+' */
}

/* Botón + */
#open-url-modal {
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: #7bc1fa;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

#open-url-modal:hover {
    background-color: #a7f9ff;
}

#site-timer-button {
    margin: 5px 0; /* Reducir el margen para mover hacia arriba */
    margin-right: -380px;
    margin-bottom: 5px; /* Ajuste para mover el botón Site Timer más cerca del botón Pomodoro */
}

#site-timer {
    font-size: 8px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#site-timer:hover {
    background-color: #1976D2;
}

/* Botón Pomodoro */
#pomodoro-button-container {
    margin: 5px 0; /* Reducir el margen para mover hacia arriba */
    margin-right: -380px;
    margin-top: -10px; /* Ajuste para mover el botón Pomodoro más cerca del botón Site Timer */
}

#pomodoro-button {
    font-size: 8px;
    padding: 10px 20px;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pomodoro-button:hover {
    background-color: #FF4500;
}

/* El estilo para el modal pop-up que surge al presionar en agregar url */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#url-list-container {
    margin-top: 70px;
}

/* Estilo de las listas */
#url-list li {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los botones */
    margin-bottom: 19px;
    border-radius: 19px;
    border: 2px solid;
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 10px; /* Añadir relleno para que los botones no sobresalgan */
}

/* Contenedor para los botones pequeños */
.button-container {
    display: flex;
    gap: 5px; /* Espacio entre los botones */
}

/* Botones pequeños */
.small-button {
    padding: 5px;
    font-size: 10px;
    background-color: #96c4f8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.small-button:hover {
    background-color: #6ac5f0;
}

button {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #96c4f8;
    color: white;
    border: none;
    border-radius: 10px;
    border: 0.7px solid;
    border-color: rgb(121, 121, 121);
}

button:hover {
    background-color: #6ac5f0;
}

/* Estilo para el título h2 */
#h2 {
    font-size: 15px;
    opacity: 0.4;
    margin-left: -150px; 
}

/* Estilos para los botones de paginación */
#pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#pagination-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 5px;
}

#pagination-controls button:hover {
    background-color: #1976D2;
}
