body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 400px; /* Ajusta el ancho aquí */
    height: 300px; /* Ajusta la altura aquí */
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
