/*borde en la url agregada*/
#url-list li {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
}

/*iconos de sitios web*/
.favicon {
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-color: none;
}



/*Botones de gestion en las url*/

.button-icon {
    width: 16px; 
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: none;
    font-size: 0; /* Oculta el texto del botón */
}

/* Estilo para los hipervínculos de la URL */
.url-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.url-link:hover {
    text-decoration: underline;
}
